.menu {
    background-color: #0C70F2;
    padding: 29px 76px 7px 61px;
    

    a {
        text-decoration: none;
        font-size: 25px;
        font-weight: 600;
        color: #FFFFFF;
    }

    .active {
        background-color: #FFFFFF;
        color: #0C70F2;
        margin: 2rem;
        padding: 8px 30px;
        border-radius: 10px 10px 0 0;
    }
}